body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    color: white;
    background-color: blueviolet;
    margin: 0;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

nav > aside,
nav > ul,
nav > ul > li {
    display: inline;
}

nav > ul {
    clear: both;
}

nav > aside {
    margin: 20px;
    font-size: 2em;
}

nav > ul > li > a {
    float: right;
    padding: 1em;
}

nav > ul > li > a:hover {
    background-color: blue;
}

main {
    margin: 5em 1em;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: normal;
}

section {
    width: 50%;
    float: left;
}


footer {
    color: white;
    background-color: gray;
    margin: 0;
    padding: 2em;
    clear: both; /* clear any previous floats */
}

footer strong {
    font-weight: bolder;
}